<!DOCTYPE html>
<html>
<head>
	<title>Home | American Holidays</title>
  <meta charset="UTF-8">
	<link href="<%= url('/bootstrap.css') %>" rel="stylesheet" type="text/css" />
  <link href="<%= url('/stylesheet.css') %>" rel="stylesheet" type="text/css" />
</head>
<body class="bg">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand">img</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/"><abbr title="(syrian 'home')">Home<abbr></a></li>
        <li><a href="quiz/new"><abbr title="(syrian 'quiz')">Quiz<abbr></a></li>
        <li><a href="/vocab"><abbr title="(syrian 'vocabulary')">Vocabulary<abbr></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!--jumbotron-->
<div class="jumbotron">
 <br>
  <h1><strong>Welcome!</strong></h1>
  <br>
  <p><strong>(syrian)</strong></p>
 <br>
  </div>

  <div class="container">


<!--col 1-->
 <div class="col-md-4">
	<div class="page-header">
  <h2>Our Purpose <small>(syrian 'xxx')</small></h2>
 </div>
	<p>By creating this site, we hope to teach you about holidays celebrated in America, and how long the breaks for each holiday usually last.  </p>
  <br>
  <p>syrian syrian syrian syrian syrian syrian syrian syrian syrian syrian syrian syrian syrian syrian syrian syrian syrian syrian syrian </p>
</div>

<!--col 2-->
 <div class="col-md-4">
	<div class="page-header">
  <h2>How To Navigate <small>(syrian 'xxx')</small></h2>
 </div>
	<p>To switch between different parts of the site, please look to the gray bar at the top. </p>
</div>

</body>
</html>

