<!DOCTYPE html>
<html>
<head>
  <title>Vocab | American Holidays</title>
  <meta charset="UTF-8">
  <link href="<%= url('/bootstrap.css') %>" rel="stylesheet" type="text/css" />
  <link href="<%= url('/stylesheet.css') %>" rel="stylesheet" type="text/css" />
</head>
<body class="bg">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand">img</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="index.erb"><abbr title="(syrian 'home')">Home<abbr></a></li>
        <li><a href="#"><abbr title="(syrian 'quiz')">Quiz<abbr></a></li>
        <li><a href="vocab.erb"><abbr title="(syrian 'vocabulary')">Vocabulary<abbr></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">

<div class="page-header">
  <h1>Vocabulary <small>(syrian 'Vocabulary')</small></h1>
 </div>

<!--info/basic col-->
<div class="col-md-6">
<div>
  <h3>New Year's Day <small>(syrian 'xxx')</small></h3>
  <p class="date">JANUARY 1ST</p>
  <p>This day is celebrated to welcome the new year. Many people stay up until midnight to party, and fireworks are often set off to light up the sky. </p>
 </div>
 <br>
 <br>
<div>
  <h3>Martin Luther King Day <small>(syrian 'xxx')</small></h3>
  <p class="date">JANUARY 18TH</p>
  <p>This day is in celebration of the leader of the civil rights movement. Schools often teach kids about Martin Luther king Jr on this day and it is encouraged to spend time doing volunteer work. This day is a federal holiday and people often have this day off work or school.</p>
 </div>
 <br>
 <br>
 <div>
  <h3>Valentine's day <small>(syrian 'xxx')</small></h3>
  <p class="date">FEBRUARY 14TH</p>
  <p>This day is in celebration of loved ones. people often give cards to their significant other or others. People often DO NOT get this day off work or school.</p>
 </div>
 <br>
 <br>
 <div>
  <h3>Presidents day <small>(syrian 'xxx')</small></h3>
  <p class="date">FEBRUARY 15TH</p>
  <p>Presidents day celebrates some of our best presidents, George Washington and Abraham Lincoln. It is a federal holiday and people often have this day off work or school. </p>
 </div>
 <br>
 <br>
 <div>
  <h3>Daylight savings time <small>(syrian 'xxx')</small></h3>
  <p class="date">MARCH 13TH</p>
  <p>Daylight savings time is a day where we move the clock forward one hour at exactly 2 AM, this moves rise and sunset back one hour adding more light later in the evening.</p>
 </div>
 <br>
 <br>
<div>
  <h3>Saint Patrick's day <small>(syrian 'xxx')</small></h3>
  <p class="date">MARCH 17TH</p>
  <p>A holiday centering on irish themed parties, Gold and luck. People have associated this holiday with four leaf clovers and leprechauns. The are sometimes parades and other celebrations.</p>
 </div>
 <br>
 <br>
<div>
  <h3>Easter <small>(syrian 'xxx')</small></h3>
  <p class="date">MARCH 27TH</p>
  <p>This is a traditionally christian holiday, however now most people celebrate it in some form or another. The holiday celebrates the rebirth of Jesus and people associate it with things like rabbits and eggs.
</p>
 </div>
 <br>
 <br>
<div>
  <h3>April Fools <small>(syrian 'xxx')</small></h3>
  <p class="date">APRIL 1ST</p>
  <p>On this day people celebrate by pulling pranks on one another. They are meant to be harmless and it is improper to pull pranks that could harm another person.
</p>
 </div>
 <br>
 <br>
<div>
  <h3>Mother's day <small>(syrian 'xxx')</small></h3>
  <p class="date">MAY 8TH</p>
  <p>This day is in celebration of mother’s. People often try to spend time with their mothers and give them gifts 
</p>
 </div>
 <br>
 <br>
<div>
  <h3>Memorial day <small>(syrian 'xxx')</small></h3>
  <p class="date">MAY 30TH</p>
  <p>On this day we remember past soldiers and those who have died in the line of duty.  This day is less  a day of remembrance then a day of celebration. This day is a federal holiday so most people have it off work or school. </p>
 </div>
 <br>
 <br>
<div>
  <h3>Father's day <small>(syrian 'xxx')</small></h3>
  <p class="date">JUNE 19TH</p>
  <p>This day is in celebration of fathers. people try to spend time with their fathers and give them gifts.</p>
 </div>
 <br>
 <br>
<div>
  <h3>Independence day <small>(syrian 'xxx')</small></h3>
  <p class="date">JULY 4TH</p>
  <p>This day is celebrating the U.S declaration of independance from the british empire. This day is celebrated with fireworks and parades. It is a federal holiday so most people have it off of work or school.
</p>
 </div>
 <br>
 <br>
<div>
  <h3>Halloween <small>(syrian 'xxx')</small></h3>
  <p class="date">OCTOBER 31ST</p>
  <p>This day is celebrated with dressing up in costume and decorating your house. Kids go out and knock on doors asking for candy. It is not a federal holiday but is celebrated by almost everyone.</p>
 </div>
 <br>
 <br>
<div>
  <h3>Election day <small>(syrian 'xxx')</small></h3>
  <p class="date">NOVEMBER 8TH</p>
  <p>This is the day U.S citizens go to vote on the next representatives and the president.</p>
 </div>
 <br>
 <br>
<div>
  <h3>Thanksgiving day <small>(syrian 'xxx')</small></h3>
  <p class="date">NOVEMBER 25TH</p>
  <p>This day is a time people spend with their family. They often share a big meal and give thanks for what they have. This is a federal holiday and schools often have at least 4 to 5 days off.</p>
 </div>
 <br>
 <br>
<div>
  <h3>Christmas day <small>(syrian 'xxx')</small></h3>
  <p class="date">DECEMBER 25TH</p>
  <p>This is a christian holiday celebrating the birth of jesus. It is celebrated by most americans by giving out gifts and decorating the house. Santa Clause is a major figure in the christmas tradition, people often dress as him and show movies or TV shows about him around this time. This is a federal holiday and students often get up to 3 weeks off. 
</p>
</div>
</div>


<!--photo col-->
 <div class="col-md-6">
  <br>
  <h1>(holiday 1 img)</h1>
  <br>
  <br>
  <br>
   <h1>(holiday 2 img)</h1>
  <br>
  <br>
  <br>
   <h1>(holiday 3 img)</h1>
</div>

<div class =”col-md-6”>
<h3>Christmas</h3>
<p>هذا هو يوم عطلة في التقويم المسيحي يحتفل بميلاد المسيح   . وغالبا ما يحتفل به غير المسيحيين من خلال إعطاء الهدايا لأفراد العائلة والأصدقاء . يصادف يوم 25 كانون الأول</p>

<h3>New year's day</h3>
<p>يتم الاحتفال بهذا العيد في بداية العام ، غالبا ما تكون هناك ألعاب نارية. 1 كانون الثاني</p>

<h3>Martin King JR. Day</h3>
<p>هذا العيد يحتفل بعيد ميلاد زعيم حركة الحقوق المدنية ، التي هي حركة للحصول على الحقوق المدنية المتساوية لجميع الناس في أمريكا . 18 كانون الثاني</p>

<h3>Valentine's Day</h3>
<p>يوم يحتفل الناس به  بأحبائهم وشركاء حياتهم  . 14 شباط </p>

<h3>President's day</h3>
<p>يوم نحتفل به ببعض من أفضل رؤسائنا، جورج واشنطن وأبراهام لنكولن 15  شباط</p>

<h3>Daylight saving's time</h3>
<p>وقت بين الربيع والخريف حيث يتم تغيير الوقت ساعة إلى الوراء. يبدأ الأسبوع الثاني من شهر آذار و ينتهي في الأسبوع الأول من تشرين الثاني  .
</p>

<h3>Saint Patrick's Day</h3>
<p>عطلة اللإحتفال بتقليد ايرلندي ، في معظم الأحيان يحتفل به بموكب، عروض، وحفلات  . 17 آذار</p>

<h3>Easter</h3>
<p>عطلة دينية تحتفل بقيامة المسيح  . خارج الأنشطة الدينية ، هناك أيضا أنشطة تقليدية مثل البحث عن  البيض ، أو إعطاء الحلوى للعائلة </p>

<h3>Mother's day</h3>
<p>هذا العيد هو إحياء لذكرى شهداء  الجنود الامريكيين . 30 ايار</p>

<h3>Father's day</h3>
<p>يوم على  شرف الآباء . 19حزيران</p>

<h3>Independance Day</h3>
<p>يوم للإحتفال بإنفصال  الولايات المتحدة عن  الإمبراطورية البريطانية في 1776. 4 تموز</p>

<h3>Halloween</h3>
<p>عطلة يحتفل بها  بزينة  مخيفة . يذهب الأطفال عادة إلى  جيرانهم ، الذين يوزعون لهم  الحلوى. 31 تشرين الأول 
</p>

<h3>Election Day</h3>
<p>اعتمادا على المكان الذي تذهب به  إلى المدرسة تحصل في  هذا اليوم على  عطلة . هذا اليوم في تشرين الثاني هو عندما يستطيع المواطنن الولايات المتحدة التصويت.</p>

<h3>Thanksgiving</h3>
<p>عطلة في تشرين الثاني تتمحور حول وجبة كبيرة ، يتمتع بها  عادة مع أفراد الأسرة</p>

</div>

</body>
</html>

