<!DOCTYPE html>
<html>
<head>
  <title>Vocab | American Holidays</title>
  <link rel="stylesheet" type="text/css" href="assets/stylesheet.css">
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand">img</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="index.erb"><abbr title="(syrian 'home')">Home<abbr></a></li>
        <li><a href="#"><abbr title="(syrian 'quiz')">Quiz<abbr></a></li>
        <li><a href="vocab.erb"><abbr title="(syrian 'vocabulary')">Vocabulary<abbr></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">

<div class="page-header">
  <h1>Vocabulary <small>(syrian 'Vocabulary')</small></h1>
 </div>

<!--info/basic col-->
 <div class="col-md-4">
  <div>
  <h3>Holiday 1 <small>(syrian 'xxx')</small></h3>
  <p>basic info basic info basic info basic info basic info basic info basic info basic info basic info basic info basic info basic info basic info basic info</p>
 </div>
 <div>
  <h3>Holiday 2 <small>(syrian 'xxx')</small></h3>
  <p>basic info basic info basic info basic info basic info basic info basic info basic info basic info basic info basic info basic info basic info basic info</p>
 </div>
 <div>
  <h3>Holiday 3 <small>(syrian 'xxx')</small></h3>
  <p>basic info basic info basic info basic info basic info basic info basic info basic info basic info basic info basic info basic info basic info basic info</p>
 </div>
</div>

<!--photo col-->
 <div class="col-md-4">
  <br>
  <h1>(holiday 1 img)</h1>
  <br>
  <br>
  <br>
   <h1>(holiday 2 img)</h1>
  <br>
  <br>
  <br>
   <h1>(holiday 3 img)</h1>
</div>

<!--tip col-->
 <div class="col-md-4">
  <div class="panel">
    <h3>Holiday 1 tip</h3>
    <p>tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip</p>
  </div>
  <div class="panel">
    <h3>Holiday 2 tip</h3>
    <p>tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip</p>
  </div>
  <div class="panel">
    <h3>Holiday 3 tip</h3>
    <p>tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip tip</p>
  </div>
</div>