div>h1>strong {
	color: #fea455;
	background-color: rgba(255,255,255,0.9);
	padding: 10px;
}

div>p>strong {
	color: #fea455;
	background-color: rgba(255,255,255,0.9);
	padding: 10px;
}

div p {
	color: #33656b;
}

.bg {
	color: #eaeaea;
}

.date {
	color: darkred;
}

.panel {
	padding: 7px;
}

.jumbotron {
	padding-left: 125px;
	position: relative;
	background:#000 url("https://upload.wikimedia.org/wikipedia/commons/d/d9/Atlanta_Downtown_Skyline.jpg") center center;
	width: 100%;
	height: 100%;
	background-size: cover;
	overflow: hidden;

}

h3 {
	color: black;
}

